.underlineLi {
  position: relative; 
  text-decoration: none;     
}

.underlineLi::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3.3px;
  width: 100%;
  height: 2px;
  background-color: black;
}

.underlineblue {
  position: relative; 
  text-decoration: none;     
}

.underlineblue::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3.3px;
  width: 100%;
  height: 2.5px;
  background-color: #ADD8E6;
}
